<!DOCTYPE html>
<html>

<head>
    <title>Assure Me</title>
</head>

<body>

    {% include "navbar.html" %}
    <h1 class="Header">Login to Assure Me</h1>
    
    <div class="Form_Div">
        <form id="login_form" method="post" action="{% url 'Assure_Me:login' %}">
            {% csrf_token %}

            {% if bad_login %}
            <div class="Login_Error">
                <h3>Either your Username and/or Password is invalid</h3>
                <p>Please try again:</p>
            </div>
            {% endif %}
            
            {% comment %} This weird input hides the variable that holds a redirect path when the login form is submitted. {% endcomment %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <div class="Form">
                <label>Username:</label>
                <input type="text" name="username" value="" size="50" />
            </div>
            <div class="Form">

                <label>Password:</label>
                <input type="password" name="password" value="" size="50" />
            </div>
            <br />

            <input class="Submit_Login" type="submit" value="Submit" />
        </form>
    </div>

</body>

</html>