{% load staticfiles %}

<link href="https://fonts.googleapis.com/css?family=Raleway|Tangerine" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <nav class="navbar">
        {% if user.is_authenticated %}
        <div class="Assure_Me_Nav">
            <a class="Assure_Me_Button" href="{% url 'Assure_Me:home' %}"><img src="{% static 'images/sunshine.png' %}"><p>Assure Me</p></a>
            <a class="Logout_Button"href="{% url 'Assure_Me:logout' %}">Logout</a>
        </div>
        {% else %}
        <a class="Assure_Me_Nav Assure_Me_Button" href="{% url 'Assure_Me:initial' %}"><img src="{% static 'images/sunshine.png' %}"><p>Assure Me</p></a>
        {% endif %}
    </nav>