<!DOCTYPE html>
<html>

<head>
    <title>Assure</title>
</head>

<body>

    {% include "navbar.html" %}
    <h1 class="Header">Register with Assure Me</h1>

    <div class="Form_Div">
        <form id="register_form" method="post" action="{% url 'Assure_Me:register' %}" enctype="multipart/form-data">
            <!-- This weird input hides the variable that holds a redirect path when the register form is submitted. -->
            <input type="hidden" name="next" value="/home"/>
            {% csrf_token %}

            <!-- Display form. The as_table method wraps each element in an appropriate td/th tag.
                 This ensures each element appears on a new line,
                    making everything look neater. -->
                    <table>
                        {{ register_form.as_table }}
                    </table>

                    <!-- Provide a button to click to submit the form. -->
                    <input class="Submit" type="submit" name="submit" value="Register" />
                </div>
        </form>
    </div>
</body>

</html>