body {
    background: #6C585B;
    font-family: 'Raleway', sans-serif;
}

p {
    color:#D0D3AA 
}

a {
    font-family: 'Tangerine', cursive;
    font-weight: 900;
    font-size: 2.5rem;
    text-decoration: none;
    color: #FBE178;
}
.is_hidden {
    display: none
}

img {
    width:90px;
}

.Assure_Me_Nav {
    font-family: 'Tangerine', cursive;
    font-weight: 900;
    font-size: 2.5rem;
    border-top: solid #FBE178 10px;
    border-left: solid #FBE178 10px;
    display: block;
    position: relative;
    height: 105px;
    margin-bottom: 25px
}

.Assure_Me_Button p{
    margin-left: -75px;
    text-decoration: none;
    display: inline-block;
    color: #FBE178
}

.Logout_Button{
    font-family: 'Tangerine', cursive;
    font-weight: 900;
    font-size: 2.5rem;
    text-decoration: none;
    color: #FBE178;
    position: absolute;
    right: 15px;
    bottom: -1px;
}

.Header {
    text-align: center;
    color: #B0BA8D
}

.Blurb {
    text-align: center;
    margin: 60px 80px 0 80px
}

.Initial_Buttons {
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
}

.Initial_Buttons a {
    border-top: solid #FBE178 2.5px;
    border-left: solid #FBE178 2.5px;
}