body {
    background: #6C585B;
    font-family: 'Raleway', sans-serif;
    color: #D0D3AA
}

a {
    font-family: 'Tangerine', cursive;
    font-weight: 900;
    font-size: 2.5rem;
    text-decoration: none;
    color: #FBE178;
}

.is_hidden {
    display: none
}

img {
    width:90px;
}

/* Nav */

.Assure_Me_Nav {
    font-family: 'Tangerine', cursive;
    font-weight: 900;
    font-size: 2.5rem;
    border-top: solid #FBE178 10px;
    border-left: solid #FBE178 10px;
    display: block;
    position: relative;
    height: 105px;
    margin-bottom: 25px
}

.Assure_Me_Button p{
    margin-left: -75px;
    text-decoration: none;
    display: inline-block;
    color: #FBE178
}

.Logout_Button{
    font-family: 'Tangerine', cursive;
    font-weight: 900;
    font-size: 2.5rem;
    text-decoration: none;
    color: #FBE178;
    position: absolute;
    right: 15px;
    bottom: -1px;
}

/* Initial Page */

.Header {
    text-align: center;
    color: #B0BA8D
}

.Blurb {
    text-align: center;
    margin: 60px 80px 0 80px
}

.Initial_Buttons {
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
}

.Initial_Buttons a {
    border-top: solid #FBE178 2.5px;
    border-left: solid #FBE178 2.5px;
}

/* Login Page */

.Form_Div {
    text-align: center;
}

#login_form {
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    border-top: solid #FBE178 2.5px;
    border-left: solid #FBE178 2.5px;
    margin-top: 5% 
}

#login_form h3 {
    padding: 10px
}

input {
    height: 30px;
    margin: 10px;
    border-radius: 10px 
}

.Submit {
    background:none;
    padding:10;
    font-size: 1.7rem;
    font-family: 'Tangerine', cursive;
    font-weight: 900;
    color: #FBE178;
    border:none; 
    border-top: solid #FBE178 2.5px;
    border-left: solid #FBE178 2.5px; 
    cursor: pointer;
    width: 75px
}

.Form {
    display: table-row;
}

.Form label{
    display: table-cell;
    text-align: left;
    padding-left: 10px;
    padding-top: 25px 
}

.Form input{
    display: table-cell;
}

#sub{
    width: 75px
}

/* Register Page */

#register_form {
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    border-top: solid #FBE178 2.5px;
    border-left: solid #FBE178 2.5px; 
}

.Form_Div label{
    display: table-cell;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px 
}

.Form_Div input{
    display: table-cell;
    height: 30px;
    width: 250px;
    margin: 10px;
    border-radius: 10px 
}

/* Home */


.Home_Buttons{
    display: flex;
    justify-content: space-evenly;
}

.Home_Buttons a {
    border-top: solid #FBE178 2.5px;
    border-left: solid #FBE178 2.5px;
    margin-top: 2% 
}

/* Helpful Tips */

.Help_Tips {
    background: #F1E9D8;
    color: #B0806A;
    margin: 15px;
    padding: 5px;
    text-align: center
}

.Help_Tips_Edit {
    width: 420px;
    background: #F1E9D8;
    color: #B0806A;
    padding: 5px;
    margin-right: 20px 
}

.Help_Tips_Affirmation{
    width: 30%;
    background: #F1E9D8;
    color: #B0806A;
    padding: 5px;
    margin-right: 20px;
    margin-left: 20px;
    flex-grow: 1;
}

.Help_Tips_Affirmation ul {
    padding-bottom: 30px
}
/* Account  */

.Account {
    display: flex;
    justify-content: space-between;
}

.Edit_Block {
    align-content: center;
    width: 40%;
}

.padding {
    padding-top: 10px
}

.Edit_Button {
    border-radius: 10px; 
    border-top: solid #FBE178 2.5px;
    border-left: solid #FBE178 2.5px;
    margin-top: 150px; 
}

/* Account Edit */

.Account_Update_Button {
    background:none;
    font-size: 1.7rem;
    font-family: 'Tangerine', cursive;
    font-weight: 900;
    color: #FBE178;
    border:none; 
    border-top: solid #FBE178 2.5px;
    border-left: solid #FBE178 2.5px; 
    cursor: pointer;
    width: 160px;
    margin-left: 120px;
    margin-top: 30px 
}

.table label{
    display: table-cell;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px 
}

.table input{
    display: table-cell;
    height: 30px;
    width: 250px;
    margin: 10px;
    border-radius: 10px 
}

/* Affirmations Page */


#Affirmation_Form{
    text-align: center
}

.Affirmation_Input {
    width: 90%;
    height: 45px;
    font-size: 1.2rem;
}

.Submit_Affirmation {
    background:none;
    font-size: 1.8rem;
    font-family: 'Tangerine', cursive;
    font-weight: 900;
    color: #FBE178;
    border:none; 
    border-top: solid #FBE178 2.5px;
    border-left: solid #FBE178 2.5px; 
    display: block;
    cursor: pointer;
    margin-left: 48%;
    width: 60px
}

.affirmation_button {
    background:none;
    font-size: 1.8rem;
    font-family: 'Tangerine', cursive;
    font-weight: 900;
    color: #FBE178;
    border:none; 
    cursor: pointer;
    width: 60px;
    margin-top: 0px;
    padding: 2.5px;
    margin: 2.5px;
    margin-bottom: auto
}



.All_Affirmation_Container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
}

.Affirmation_List{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 5;
    justify-content: space-around;
    border-top: solid #FBE178 2.5px;
    border-left: solid #FBE178 2.5px; 
    overflow: auto;
    height: 600px;
}

.affirmation {
    margin: 20px;
    text-align: center;
    width: 25%;
    margin-top: auto;
}

.affirmation_solo{
    display: inline-block;
}


